{% extends "layout.html" %}

{% block title %}
    Welcome!
{% endblock %}

{% block main %}
<!-- can there be a layout within a layout? -->
<div class="container-fluid">
  <div class="row">
    <!-- this perhaps should be a sidebar? -->
    <div class="col-fluid shrink m-2">
      Please identify yourself:
      <form class="justify-content-around" action="/imagesHelp">
        <input name="user_name" autofocus type="text" size="12" placeholder="NAME, Initial" /><br>
        <input name="nationality" type="text" size="4" placeholder="Nationality" /><br>
        <input name="favored_weapon" type="text" size="12" placeholder="Weapon" /><br>
        <input name="fencing_since" type="text" size="6" placeholder="fenc. since" /><br>
        <input name="yob" type="text" size="6" placeholder="born year" />
      </form>
    </div>

    <div class="col-xl-auto m-2">
      <div class="row">
        <div class="col-md-auto"><img src={{image_path}} class="img-fluid" alt="Image goes here">
        </div>
        <div class="col-fluid m-2">Source: xxxxx
        </div>
      </div>

      <div class="row">
        <div class="col-md m-2">
        Please choose a label according to the weapon in use (or "none" if not a fencing match)
        </div>
      </div>

      <div class="row">
        <div class="col-md m-2" align="center">
          <form class="justify-content-around" action="/imagesHelp" method="post">
            <button class="btn btn-primary" type="submit" value="epee">Epee</button>
            <button class="btn btn-primary" type="submit" value="foil">Foil</button>
            <button class="btn btn-primary" type="submit" value="sabre">Sabre</button>
            <button class="btn btn-primary" type="submit" value="none">None</button>
          </form>
        </div>
        <div class="col- m-2">
          <form class="justify-content-center" action="/imagesHelp" method="get">
            <button class="btn btn-primary" type="submit" value="skip">Skip</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
