{% extends "layout.html" %}

{% block title %}
    Welcome!
{% endblock %}

{% block main %}
<!-- can there be a layout within a layout? -->
<div class="container-fluid">
  <div class="row">
    <!-- this perhaps should be a sidebar? -->
    <div class="col-fluid shrink p-1">
      Please identify yourself:
      <form class="justify-content-around" action="/imagesHelp">
        <input name="user_name" autofocus type="text" size="12" placeholder="NAME, Initial" />
        <input name="nationality" type="text" size="4" placeholder="Nationality" />
        <input name="favored_weapon" type="text" size="12" placeholder="Weapon" />
        <input name="fencing_since" type="text" size="6" placeholder="fenc. since" />
        <input name="yob" type="text" size="6" placeholder="born year" />
      </form>
    </div>

    <div class="col-xl-auto p-1">
      <div class="row">
        <div class="col-md-auto p-1"><img src={{image_path}} class="img-fluid" alt="Image goes here">
        </div>
        <div class="col-fluid p-1 bg-secondary">Source:
        </div>
      </div>

      <div class="row">Please label the image according to the weapon in use
      </div>

      <div class="row">
        <div class="col-md p-1" align="center">
          <form class="justify-content-around" action="/imagesHelp" method="post">
            <button class="btn btn-primary" type="submit" value="epee">Epee</button>
            <button class="btn btn-primary" type="submit" value="foil">Foil</button>
            <button class="btn btn-primary" type="submit" value="sabre">Sabre</button>
            <button class="btn btn-primary" type="submit" value="none">None</button>
          </form>
        </div>
        <div class="col- p-1">
          <form action="/imagesHelp" method="get">
            <button class="btn btn-primary" type="submit" value="skip">Skip</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
